.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 18px;

  &--submit {
    background-color: var(--color-two);
    color: #ffffff;
    font-weight: bold;

    &:hover {
      background-color: var(--color-three);
    }
  }
}